/* Dead Simple jQuery Slider */

/* container */
  .dss {
    width: 100%;
    position: relative;
    display: block;
    overflow: hidden;
  }
/* end */

/* items */
  .dss>*{
    float: left;
    width: 100%;
    margin-right: -100%;

    transition:visibility 0.3s linear,opacity 0.3s linear;
    opacity: 0;
    visibility:hidden;
  }
  .dss>*.active{ opacity: 1; visibility:visible; transition:visibility 0.3s linear,opacity 0.3s linear;  }
/* end */

/* next/prev button */

  /* basic button styles */
    .dss-next,
    .dss-prev {
      float: none;
      width: auto;
      height: 100%;
      text-align: center;
      cursor: pointer;

      position: absolute;
      z-index: 1;
      top: 0px;
      bottom: 0px;

      display: flex;
      align-items: center;
      justify-content: center;

      border: none;
      background: transparent;
      color: rgba(0, 0, 0, 0.25);
      font-size: 20px;
      padding: 0 5px;
    }
    .dss-next:hover,
    .dss-prev:hover {
      color: #000;
      background: rgba(0, 0, 0, 0.05);
    }
  /* end */

  /* position buttons */
    .dss-prev { left: 0px; }
    .dss-next { right: 0px; }
  /* end */

  /* reset button style */
    .dss-next:focus, .dss-next:active,
    .dss-prev:focus, .dss-prev:active { outline: none; }
  /* end */

/* end */